*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    background-color: rgb(226, 221, 190);
}
.board{
    display: flex;
    background-color: antiquewhite;
    height: 30vw;
    width: 50vw;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    flex-direction: column;
    border-radius: 20px;

}
h2{
    font-size: 1.5vw;
    flex-direction: row; /* Default: items in a row */
    text-align: center;
}
.board2
{
    /* background-color: antiquewhite; */
    width: 50vw;
    display: flex;
    justify-content: center;
    border-radius: 0 0 20px 20px;
}
.scoreboard
{
    margin-top: 10px;
    display: flex;
    /* justify-content: cen; */
    align-items: center;
    gap : 100px
}
.scoreboard div
{
    margin-top: 0px;
    border: 2px solid;
    width: 15vw;
    height: 90px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    text-align: left;
    padding-left: 12px;
    border-radius: 15px;

}

.board p
{
    font-size: large;
}
#play
{
    height: 35px;
    width: 10vw;
    background-color: antiquewhite;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    margin-bottom: 20px;
}
#play:hover
{
    /* background-color: #96b0cc; */
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    transform: translateY(-2px); /* Slight lift on hover */
}
#play:active {
    /* background-color: #004494; */
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    transform: translateY(0); /* No lift when button is pressed */
}

#buttonselection
{
    display: flex;
    gap: 0.5em;
}


@media(max-width: 700px) {
    .board {
        height: auto;
        padding: 10px;
    }

    h2 {
        font-size: 1.5rem;
    }
    .scoreboard
    {
        gap: 0;
    }
    .scoreboard div {
        width: 100%;
        font-size: 1rem;
    }

    #play {
        width: 100%;
        font-size: 1rem; /* Adjust font size for small screens */
    }
}
